<div id="SOHUCS" sid="{{id}}" ></div>
<script type="text/javascript">
    (function(){
        var appid = 'cytbDavSX';
        var conf = 'prod_363af8eaef61e5581256115196e26a2f';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
<style type="text/css">
    #SOHUCS #SOHU_MAIN a:hover { background: transparent; text-decoration: none; }
    #SOHUCS #SOHU_MAIN .module-cmt-header .section-title-w { display: none; }
    #SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w { height: 0; }
    #SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w .head-img-w ,
    #SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w .header-login { left: 0; top: 0; }
    #SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .block-head-w .head-img-w img {}
    #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w { }
    #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-l, #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-r { display: none; }
    #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-border-t { display: none; }
    #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-main { margin:0 0 0 52px; border: 1px solid #275b8c; }
    #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .wrap-action-w { margin-left: 41px; }
    #SOHUCS #SOHU_MAIN .module-cmt-list .module-cmt-box .post-wrap-w .post-wrap-main { margin-left: 0; }
    #SOHUCS #SOHU_MAIN .module-cmt-list .module-cmt-box .post-wrap-w .wrap-action-w { margin-left: -11px; }
    #SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type { margin-top: 20px;}
    #SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type .type-lists .active { background: transparent; border: 1px solid #275b8c; border-bottom: 0; }
    #SOHUCS #SOHU_MAIN .module-cmt-list .cmt-list-type .cmt-list-border { left: 68px; }
    #SOHUCS #SOHU_MAIN .module-cmt-list .block-cont-gw .cont-head-gw .head-img-gw img {}
    #SOHUCS #SOHU_MAIN .module-cmt-list .block-cont-gw .msg-wrap-gw { padding:0 0 0 52px; }
</style>