<div class="comment">
    <div id="SOHUCS"  sid="123456"></div>
    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
        window.changyan.api.config({
            appid: 'cyqARl5Jo',
            conf: 'prod_07871915a8107172b3b5dc15a6574ad3'
        });
    </script>
</div>