<div class="comment">
    <div id="SOHUCS"  sid="{{id}}"></div>
    <script charset="utf-8" type="text/javascript" src="http://tools.apkfuns.com/changyan/changyan.js"></script>
    <script type="text/javascript">
        window.changyan.api.config({
            appid: 'cytbDavSX',
            conf: 'prod_363af8eaef61e5581256115196e26a2f'
        });
    </script>
    <style type="text/css">
        #SOHUCS #SOHU_MAIN .cy-box-wrapper .cy-box-main textarea {
            background: transparent !important;
        }
    </style>
</div>