<div class="comment">
    <div id="SOHUCS"  sid="{{id}}"></div>
    <script charset="utf-8" type="text/javascript" src="{{asset "js/changyan.js"}}" ></script>
    <script type="text/javascript">
        window.changyan.api.config({
            appid: 'cytbDavSX',
            conf: 'prod_363af8eaef61e5581256115196e26a2f'
        });
    </script>
    <!--<script type="text/javascript">-->
        <!--window.changyan.api.config({-->
            <!--appid: 'cyqARl5Jo',-->
            <!--conf: 'prod_07871915a8107172b3b5dc15a6574ad3'-->
        <!--});-->
    <!--</script>-->
</div>