<nav class="pagination" role="pagination">

  <span class="page-number">第 {{page}} 页 ⁄ 共 {{pages}} 页</span>

  <ul>
    {{#if prev}}
      <li class="prev"><a href="{{page_url prev}}">上一页</a></li>
    {{/if}}
    {{#if next}}
      <li class="next"><a href="{{page_url next}}">下一页</a></li>
    {{/if}}
  </ul>
</nav>
